project:
  type: website
  output-dir: docs

website:
  description: "A blog built with Quarto"
  site-url: https://collinh9.github.io # you must change this appropriately for RSS feeds to work properly
  title: "portfolio"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/CollinH9
      - icon: person
        href: files/CollinHenkel-Resume.pdf
        target: _blank
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css

editor: visual

